/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
/* border box model */
html {
    box-sizing: border-box;
    
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  font-family: var(--sans);
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  /* font-size: var(--font-size); */
}

nav{
 font-family: var(--mono);
 font-size: 80%;
 padding: 1rem;
 /* position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%; */
}

.fa-code, .fa-cloud{
  color: var(--aqua);
}

nav h1 a{
  font-family: var(--sans);
  background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a{
  text-decoration: none;
  color: var(--white);
  display: block;
}

nav a:hover{
  color: var(--magenta);
}

nav li:first-child{
  flex-basis:100%;
  text-align: center;
}
a{
  color: var(--dkblue);
}

a:hover{
  text-decoration: none;
  color: var(--plum);
}

.button {
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover{
  color: var(--white);
  background-color: var(--hotmag);
}

@keyframes SlideInLeft {
  from{
    transform: translateX(-300px);
  }

  to{
    transform: translateX(0);
  }
}

.span{
  animation: SlideInLeft 1s ease-in 1s 1 normal none;  
  /* transform: translateX(-150px); */
  }

#section1{
  padding: 4rem 1rem 10rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
}

#section1 .name{
  font-family: var(--mono);
}

/* .about-me{
  padding: 4rem 1rem 10rem 1rem;
} */

.name span{
  font-size: 3rem;
  font-family: var(--sans);
  color: var(--aqua);
  display: block;
}

#section1 h2{
  font-size: 2rem;
  font-weight: normal;
}

.personal{
  margin-top: -20px;
}

 .portrait{
   /* border-radius: 20% 80% 70% 30% / 60% 40% 60% 40%; */
   /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
   border: 6px solid rgba(255,23,228,0.5);
   height: 300px;
   width: 300px;
   margin-left: 3em; 
   margin-top: 8em;
  }

/* projects section */
#section2{
  padding: 2rem 1rem;
  background-color: var(--dkblue);
  padding: 0 auto;
  margin-top: 0;
}

#section2 h2{
  font-size: 1.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#section2 h3{
  color: var(--aqua);
  margin: 0;
}

#section2 h4{
  font-family: var(--mono);
  font-size: 1rem;
  margin: 0;
}

.description {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  line-height: 1.5;
  font-size: 1rem;
}

#section2 ul{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 1rem;
}

.proj-img{
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
}

/* skills section */
#section3{
  padding: 4rem 1rem 10rem 1rem;
}


.skills-container {
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin: auto;
}
.skills-card{
  background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border: none;
  box-shadow: rgb(26 24 24 / 25%) 0px 5px 10px 2px;
  border-radius: 5px;
  margin: 5px;
  /* height: 100px;
  width: 100px; */
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
  /* border: 1px solid var(--hotmag);
  box-shadow: #171321; */
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}


/* Awards & Certificate */
#section4{
background-color: var(--dkblue);
padding: 0 auto;
margin-top: 0;
padding: 2rem 1rem;
}

.text1 .fa-medal{
  color: var(--aqua);
}

/* contact me  */
.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: 5em auto;
}

.contact-text{
  padding: 5em;
}

input, textarea{
  display: block;
  margin-bottom: 1em;
  border-radius: 5px;
}

input{
  width: 52%;
}


.gradient{
  background: rgb(255,23,228);
background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
height: 2px;
}

@media (max-width: 549px){
    /* .contact{
    width: 100vw;
  }
  .contact-text{
    grid-column: 1/6;
    grid-row: 1/2;
    margin-bottom: 5rem;
  }
  .contact-form{
  text-align: center;
  justify-content: center;
  margin: 0 ;
  } */
  .contact{
    grid-template-columns: 1fr;
    width: 90%;
    margin: 3em auto;
  }

  .contact-text{
    padding: 2em;
  }

  input, textarea{
    width: 100%;
  }

  input{
    width: 100%;
  }
}

@media(min-width:550px){
  article{
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    gap: 1rem;
  }
  .proj-img{
    grid-column: 1/6;
    grid-row: 1/2;
    padding: -5rem;
  }
  .text{
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }

  .text1{
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
    padding-top: 4rem;
  }
#section2 ul{
  justify-content: flex-end;
}
#section2 .reverse .text{
  grid-column: 1/7;
  order: 2;
  text-align: left;
  grid-row: 1/2;
}
#section2 .reverse .proj-img{
  grid-column: 6/11;
  grid-row: 1/2;
  margin-bottom: 5rem;
}
#section2 .reverse ul{
  justify-content: flex-start;
}
}

/* media query */
@media(min-width:850px){
  nav{
    max-width: 1200px;
    margin: 0 auto; 
  }
  nav li:first-child{
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
  .section1{
    max-width: 1200px;
  margin: 0 auto;
  }
  .skills-sec{
    max-width: 1200px;
  margin: 0 auto;
}
  .awards-sec{
    max-width: 1200px;
  margin: 0 auto;
  }
}